{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- <hr> -->
    <div class="container-fluid">
        <div class="row justify-content-center about-section">
            <div class="col-4">
                <img src="{% static 'images/fish2.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-4">
                <!-- <blockquote> -->
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at lobortis sapien. Vestibulum felis risus, efficitur nec lorem vitae, mollis dignissim ligula. 
                        Quisque pretium sem sem, quis venenatis felis bibendum vitae. Etiam justo lacus, bibendum non diam eu, sagittis vulputate dolor. Etiam sit amet pharetra risus. 
                        Proin volutpat eros sit amet nibh blandit pretium. Pellentesque eu accumsan ex. Maecenas vestibulum mattis augue, sit amet bibendum quam blandit id. 
                        Pellentesque sodales massa a sem efficitur lobortis. Quisque auctor mauris a sem consectetur porttitor. Donec in risus eu erat tincidunt viverra in ac eros. 
                        Cras risus dui, finibus ac neque sed, luctus feugiat elit.
                    </p>
                        
                    <p class="text-justify">
                        Aenean id metus ut augue ultricies hendrerit quis eu sem. Nunc fringilla nunc quis tellus mollis, id vestibulum felis cursus. Vestibulum euismod rhoncus ex. 
                        Morbi et justo elit. Maecenas et blandit magna. Vestibulum imperdiet leo et rhoncus dictum. Vivamus ut felis venenatis, vehicula quam nec, gravida quam. 
                        Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis vitae vestibulum sem, nec cursus velit. Nunc iaculis sem nec neque accumsan, a cursus est congue. 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a tempus velit. Duis semper mi quis urna gravida, sed ultricies nibh elementum. Nunc finibus sagittis arcu. 
                        Nunc turpis nulla, feugiat nec faucibus et, blandit at est. Praesent egestas, risus vel imperdiet congue, massa massa ornare erat, eu mattis arcu nulla eu velit.
                    </p>
                <!-- </blockquote> -->
            </div>
            
        </div>
        <br>
        <p class="text-center">
            <i class="fa-solid fa-paintbrush"></i>
        </p>
    </div>
<!-- <hr> -->
{% endblock %}