{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- <hr> -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col">
                <p class="text-center">
                    <hr hidden>
                </p>
                <br>
            </div>
        </div>
        <div class="row justify-content-center about-section">
            <div class="col-12 col-md-6 col-lg-4">
                <img src="{% static 'images/fish2.jpg' %}" class="img-fluid" alt="Betta fish watercolour painting">
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <h2>Welcome</h2>
                <br>
                <p class="text-justify">
                    My name is Lindsey and I am happily married and the mother of one wonderful son. <br>
                    I have always had an appreciation and aptitude for art; however, life steered me into the sciences and a career as a Biomedical Scientist. 
                </p>
                <p class="text-justify">
                    After many years I developed severe fibromyalgia and had to stop working. I also discovered that I am autistic. These life changing discoveries triggered a re-evaluation of everything and I returned to art, telling myself to make one bad piece each day and go from there.
                    Producing art is a wonderful creative and therapeutic outlet and I had long wished to learn watercolour.
                </p>
                <p class="text-justify">
                    I can paint from my bed, I can paint in my wheelchair. It has been and continues to be a huge source of joy for me.
                </p>
                <p class="text-justify">
                    I love nature and the beauty of the outside world and watercolour painting helps me capture what I see in my own unique way.
                </p>
                <p class="text-justify">
                    I thank you for looking at my work and I hope you love it as much as I do.
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <br><br>
                <p class="text-center">
                    <a href="https://www.instagram.com/madgeekmommy/?hl=en" target="_blank" class="btn btn-light btn-outline-dark rounded-0 text-uppercase text-center">
                        Follow me on instagram
                    </a>
                </p>
            </div>
        </div>
        <br>
        <p class="text-center">
            <hr hidden>
        </p>
    </div>
<!-- <hr> -->
{% endblock %}