{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block content %}
    <div class="container mb-2">
        <div class="row justify-content-center">
            <div class="col">
                <p class="text-center">
                    <hr hidden>
                </p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Shopping Basket</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            {% if basket_items %}
                {% for item in basket_items %}
                    <div class="col-2 basket-img">
                        {% if item.product.image %}
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-fluid">
                        {% else %}
                            <img src="{{ MEDIA_URL }}no_image.png" alt="{{ item.product.name }}" class="img-fluid">
                        {% endif %}
                    </div>
                    <div class="col-5 text-start">
                        <p><strong>{{ item.product.name }}</strong></p>
                        {% if item.product.has_sizes %}
                            <p><strong>Size: </strong>{{ item.size|upper }}</p>
                        {% endif %}
                        <p class="small text-muted">SKU: {{ item.product.sku|upper }}</p>
                    </div>
                    <div class="col-2 text-end">
                        <form class="form update-form" method="POST" action="{% url 'update_basket' item.item_id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    
                                        <!-- Qty: 1
                                        <input class="form-control qty_input border-0 text-center w-25" type="hidden"
                                                name="quantity" value="1" min="1" max="99" 
                                                data-item_id="{{ product.product.id }}" id="id_qty_{{ product.product.id }}"> -->
                                    
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-lg rounded-0"
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input border-0 text-center w-25" type="number" 
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99" 
                                            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-lg rounded-0"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    
                                    {% if item.product.has_sizes %}
                                        <input type="hidden" name="product_size" value="{{ item.size }}">
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                        {% if item.product.stock_qty > 1 %}
                            <a class="update-item text-muted text-decoration-none text-center"><small>Update Quantity</small></a>
                        {% else %}
                            <small class="text-muted">Only 1 item left in stock. Quantity can not be updated.</small>
                        {% endif %}
                    </div>
                    <div class="col-2 text-end">£{{ item.product.price | calc_subtotal:item.quantity }}</div>
                    <div class="col text-end">
                        <a class="btn btn-sm btn-dark btn-outline-light rounded-0 remove-item" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}">
                            <i class="fa-solid fa-xmark"></i>
                        </a>
                    </div>
                    <div class="row">
                        <div class="col"><hr class="text-muted text-center"></div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-sm-12 text-center">
                    <br>
                    <p class="lead mb-5">
                        There is nothing in your basket.
                        <br><br>
                        <a href="{% url 'shop' %}" class="btn btn-light btn-outline-dark rounded-0 text-uppercase text-center">Continue Shopping</a>
                    </p>
                    <hr>
                </div>
            {% endif %}
        </div>
        {% if basket_items %}
        <div class="row">
            <div class="col-sm-12 col-lg-8"></div>
            <div class="col-sm-12 col-lg-4">
                <div class="row">
                    <div class="col"><h5 class="text-start"><strong>Subtotal:</strong></h5></div>
                    <div class="col"><h5 class="text-end"><strong>£{{ total|floatformat:2 }}</strong></h5></div>
                    <small class="text-muted">Delivery cost will be added at Checkout.</small>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="{% url 'checkout' %}" class="btn btn-light btn-lg btn-outline-dark rounded-0 text-uppercase text-center">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col text-end">
                <br>
                <a href="{% url 'shop' %}" class="btn btn-dark btn-outline-light rounded-0 text-uppercase text-center">Continue Shopping</a>
                <br>
                <hr>
            </div>
        </div>
        {% endif %}
        <br>
        <p class="text-center">
            <hr hidden>
        </p>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
{% include 'products/includes/script_for_quantity.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-item').click(function(e) {
        let form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let size = $(this).data('product_size');
        let url = `/basket/remove/${itemId}/`;
        let data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
        .done(function() {
            location.reload();
        });
    })
</script>
{% endblock %}