html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: #000;
    font-family: 'Raleway', sans-serif;
}

.logo1 {
    height: 180px;
    width: auto;
}

.menu-text {
    font-size: 1.75rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.about-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.carousel-item {
    background-color: #fff;
}

.carousel-indicators {
    display: contents;
    margin-bottom: -20px;
}

.carousel-control-next,
.carousel-control-prev {
    bottom: 25px;
}

.card-img {
    padding: 0% 10% 0 10%;
}

.btn {
    background-color: #fff;
}

.btn-lg {
    background-color: #fff;
    width: inherit;
}

.basket-img {
    padding: 0 1% 1% 1%;
}

/* Hide up/down arrows on quantity selectors 
(code from w3schools - https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp)*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/*  */

.update-item,
.remove-item {
    cursor: pointer;
}

footer {
    margin: auto;
    position: relative;
}

/* .jumbotron {
    background-image: url('../images/cherry_blossom.jpg') no-repeat center center;
} */