html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: #000;
    font-family: 'Raleway', sans-serif;
}

.logo1 {
    height: 180px;
    width: auto;
}

.menu-text {
    font-size: 1.75rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.about-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    position: relative;
}