.all-but-footer{
    min-height: calc(100vh - 88px);
}

body {
    /* height: calc(100vh - 164px); */
    color: #000;
    font-family: 'Raleway', sans-serif;
}

.logo1 {
    height: 180px;
    width: auto;
}

.menu-text {
    font-size: 1.75rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.about-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.carousel-item {
    background-color: #fff;
}

.carousel-indicators {
    display: contents;
    margin-bottom: -20px;
}

.carousel-control-next,
.carousel-control-prev {
    bottom: 25px;
}

.card-img {
    padding: 0% 10% 0 10%;
}

.btn-light {
    background-color: #fff;
}

.btn-lg {
    /* background-color: #fff; */
    width: inherit;
}

.basket-img {
    padding: 0 1% 1% 1%;
}

/* Hide up/down arrows on quantity selectors 
(code from w3schools - https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp)*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/*  */

.update-item,
.remove-item {
    cursor: pointer;
}

footer {
    margin: auto;
    position: relative;
}

/* Allauth form */

.allauth-form-inner-content p {
    margin-top:  1.5rem;
    color: #000;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #000;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}