<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block">
            <a class="nav-link text-dark active menu-text" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item d-block">
            <a class="nav-link text-dark menu-text" href="{% url 'gallery' %}">Gallery</a>
        </li>
        <li class="nav-item d-block dropdown">
            <a class="nav-link text-dark menu-text" href="{% url 'shop' %}" id="shop-products-link" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-products-link">
                <ul class="list-inline">
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=originals">Originals</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=prints">Prints</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=merch">Merchandise</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>