{% load static %}

  <ul>
    <li class="list-inline-item dropdown">
      <a class="text-dark nav-link d-block d-lg-none" href="#" id="user-options-mobile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="text-center">
            {% if request.user.is_authenticated %}
            <i class="fa-solid fa-palette"></i>
            <p class="my-0"><small>My Account</small></p>
            {% else %}
            <div><i class="fa-solid fa-arrow-right-to-bracket"></i></div>
            {% endif %}
          </div>
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="user-options-mobile">
          {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
          {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Sign In</a>
          {% endif %}
      </div>
    </li>
    <li class="list-inline-item">
      <a href="{% url 'view_basket' %}" class="{% if grand_total %}text-info font-weight-bold{% else %}text-dark{% endif %} nav-link d-block d-lg-none">
          <div class="text-center text-dark">
              <div><i class="fa-solid fa-basket-shopping"></i></div>
              <p class="my-0">
                  {% if grand_total %}
                   <small>£{{ total|floatformat:2 }}</small>
                  {% elif request.user.is_authenticated %}
                    £0.00
                  {% else %}
                  {% endif %}
              </p>
          </div>
      </a>
    </li>
  </ul>