{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <p class="text-center">
                    <hr hidden>
                </p>
                <br>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <div class="card d-inline-flex border-0">
                    <img src="{% static 'images/bluetit_print2.png' %}" alt="" class="card-img-top">
                    <div class="card-body">
                        <a href="{% url 'products' %}?category=prints" class="btn btn-light btn-outline-dark rounded-0 text-uppercase text-center">Shop Prints</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card d-inline-flex border-0">
                    <img src="{% static 'images/squirrel.jpg' %}" alt="squirrel watercolour" class="card-img-top" >
                    <div class="card-body">
                        <a href="{% url 'products' %}?category=originals" class="btn btn-light btn-outline-dark rounded-0 text-uppercase text-center">Shop Originals</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card d-inline-flex border-0">
                    <img src="{% static 'images/robin_shirt.png' %}" alt="" class="card-img-top">
                    <div class="card-body">
                        <a href="{% url 'products' %}?category=merch" class="btn btn-light btn-outline-dark rounded-0 text-uppercase text-center">Shop Merchandise</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <p class="text-center">
        <hr hidden>
    </p>
{% endblock %}