{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <!-- <div class="col"><h2 class="text-center">Shop</h2></div> -->
            <br>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <!-- <h3 class="text-center">Prints</h3> -->
                <div class="card d-inline-flex border-0">
                    <img src="{% static 'images/bluetit_print2.png' %}" alt="" class="card-img-top">
                    <div class="card-body">
                        <a href="{% url 'products' %}" class="btn btn-light btn-outline-dark rounded-0 text-uppercase text-center">Shop Prints</a>
                        <!-- <button class="text-center text-uppercase border-1 bg-white">Shop Prints</button> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <!-- <h3 class="text-center">Originals</h3> -->
                <div class="card d-inline-flex border-0">
                    <img src="{% static 'images/squirrel.jpg' %}" alt="squirrel watercolour" class="card-img-top" >
                    <div class="card-body">
                        <a href="{% url 'products' %}" class="btn btn-light btn-outline-dark rounded-0 text-uppercase text-center">Shop Originals</a>
                        <!-- <button class="text-center text-uppercase border-1 bg-white">Shop Originals</button> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <!-- <h3 class="text-center">Merchandise</h3> -->
                <div class="card d-inline-flex border-0">
                    <img src="{% static 'images/robin_shirt.png' %}" alt="" class="card-img-top">
                    <div class="card-body">
                        <a href="{% url 'products' %}" class="btn btn-light btn-outline-dark rounded-0 text-uppercase text-center">Shop Merchandise</a>
                        <!-- <button class="text-center text-uppercase border-1 bg-white">Shop Merchandise</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
        <br>
        <p class="text-center">
            <i class="fa-solid fa-paintbrush"></i>
        </p>
    </div>
{% endblock %}