{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mb-2">
        <div class="row justify-content-center">
            <div class="col">
                <p class="text-center">
                    <hr hidden>
                </p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Product Management</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card border-0">
                    <div class="card-header bg-white">
                        <div class="row">
                            <div class="col">
                                <h5 class="mb-0">
                                    Products
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="product-list table-responsive">
                            <table class="table table sm table-borderless">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>Sub-Category</th>
                                        <th>SKU</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                    <tr>
                                        <td>{{ product.category.friendly_name }}</td>
                                        <td>{{ product.sub_category.friendly_name }}</td>
                                        <td>{{ product.sku }}</td>
                                        <td>{{ product.name }}</td>
                                        <td>£{{ product.price }}</td>
                                        <td><small class="ml-3">
                                            <a href="{% url 'product_details' product.id %}">View item</a>
                                        </small></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <form action="{% url 'add_product' %}" method="POST" class="form mb-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card border-0">
                            <div class="card-header bg-white">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="mb-0">
                                            Add Product
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                {% for field in form %}
                                    {% if field.name != 'image' %}
                                        {{ field | as_crispy_field }}
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                {% endfor %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <br>
                                        <a class="btn btn-dark btn-lg btn-outline-light rounded-0 text-uppercase text-center" href="{% url 'add_product' %}">Cancel</a>
                                    </div>
                                    <div class="col-md-6">
                                        <br>
                                        <button type="submit" class="btn btn-light btn-lg btn-outline-dark rounded-0 text-uppercase text-center">
                                            Add Product
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
            <hr>
        </div>
        <br>
        <p class="text-center">
            <hr hidden>
        </p>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        })
    </script>
{% endblock %}