{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mb-2">
        <div class="row justify-content-center">
            <div class="col">
                <p class="text-center">
                    <i class="fa-solid fa-paintbrush"></i>
                </p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Product Management</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <form action="{% url 'edit_product' product.id %}" method="POST" class="form mb-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card border-0">
                            <div class="card-header bg-white">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="mb-0">
                                            Edit Product
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                {% for field in form %}
                                    {% if field.name != 'image' %}
                                        {{ field | as_crispy_field }}
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                {% endfor %}
                                <div class="row justify-content-center">
                                    <div class="col justify-content-center">
                                        <br>
                                        <a class="btn btn-dark btn-lg btn-outline-light rounded-0 text-uppercase text-center" href="{% url 'product_details' product.id %}">Cancel</a>
                                    </div>
                                    <div class="col justify-content-center">
                                        <br>
                                        <button type="submit" class="btn btn-light btn-lg btn-outline-dark rounded-0 text-uppercase text-center">
                                            Update Product
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
        <br>
        <p class="text-center">
            <i class="fa-solid fa-paintbrush"></i>
        </p>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        })
    </script>
{% endblock %}