{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <h2>Products</h2>
                <hr>
                <a href="{% url 'shop' %}" class="btn btn-light border-0 rounded-0 text-center"><small><i class="fa-solid fa-paintbrush"></i> Back to Shop</small></a>
                <br><br>
            </div>
        </div>

        <div class="row">
            {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        <a href="{% url 'product_details' product.id %}" class="text-decoration-none text-dark">
                            {% if product.stock_qty %}
                            {% else %}
                                <h4><span class="badge badge-products bg-danger">Sold</span></h4>
                            {% endif %}
                            {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img card-img-top">
                            {% else %}
                                <img src="{{ MEDIA_URL }}no_image.png" alt="{{ product.name }}" class="card-img card-img-top">
                            {% endif %}
                            <div class="card-body text-center">
                                <p class="text-center"><strong>{{ product.name }}</strong></p>
                                <p class="text-center">£{{ product.price }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>
    </div>
    <div>
        <br>
        <p class="text-center">
            <hr hidden>
        </p>
    </div>
{% endblock %}