{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col">
                <h2 class="text-center"><strong>Originals</strong></h2>
                <br>
                <h4 class="text-center">British Birds Collection</h4>
            </div>
        </div>
        <div class="row">
            {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-2">
                    <div class="card border-0">
                        <a href="" class="text-decoration-none text-dark">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top">
                            <div class="card-body text-center">
                                <p class="text-center"><strong>{{ product.name }}</strong></p>
                                <p class="text-center">£{{ product.price }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
        <br>
        <p class="text-center">
            <i class="fa-solid fa-paintbrush"></i>
        </p>
    </div>
{% endblock %}