{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <a href="{% url 'shop' %}" class="btn btn-light border-0 rounded-0 text-center"><i class="fa-solid fa-paintbrush"></i> Back to Shop</a>
                <a href="javascript:history.go(-1)" class="btn btn-light border-0 rounded-0 text-center"><i class="fa-solid fa-palette"></i> Back to Products</a>
                <p class="text-center">
                    <hr>
                </p>
                <br>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
                {% else %}
                    <img src="{{ MEDIA_URL }}no_image.png" alt="{{ product.name }}" class="img-fluid">
                {% endif %}
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                {% if product.stock_qty %}
                {% else %}
                    <h4><span class="badge badge-details bg-danger">Sold</span></h4>
                {% endif %}
                <p class="text-start"><strong>{{ product.name }}</strong></p>
                <p class="text-start">From the {{ product.sub_category.friendly_name }}</p>
                <br>
                <p class="text-start">{{ product.description }}</p>
                <p class="text-start">£{{ product.price }}</p>

                <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                    {% if product.stock_qty != 0 %}
                    <div class="form-group w-50">
                        {% csrf_token %}
                            <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn rounded-0"
                                            data-item_id="{{ product.product.id }}" id="decrement-qty_{{ product.product.id }}">
                                            <span>
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input border-0 text-center w-25" type="number"
                                            name="quantity" value="1" min="1" max="99" 
                                            data-item_id="{{ product.product.id }}" id="id_qty_{{ product.product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn rounded-0"
                                            data-item_id="{{ product.product.id }}" id="increment-qty_{{ product.product.id }}">
                                            <span>
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                            </div>
                        </div>
                        <br>
                        {% with product.has_sizes as s %}
                            {% if s %}
                                <!-- Clothing size -->
                                <p>Size:
                                    <select class="rounded-0" name="product_size" id="product_size">
                                        <option value="small">Small</option>
                                        <option value="medium" selected>Medium</option>
                                        <option value="large">Large</option>
                                        <option value="extra large">Extra Large</option>
                                    </select>
                                </p>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                    {% if product.stock_qty == 0 %}
                        <p>Out of stock.</p>
                    {% elif product.stock_qty == 1 %}
                        <p>Only 1 item in stock.</p>
                        <br>
                    {% endif %}
                    {% if product.stock_qty != 0 %}
                        <button type="submit" class="btn btn-light btn-outline-dark rounded-0 text-uppercase text-center">Add to basket</button>
                    {% endif %}
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
                <br>
                {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_product' product.id %}">Edit</a>
                    </small>
                {% endif %}
            </div>
        </div>
        <hr>
        <br>
        <p class="text-center">
            <hr hidden>
        </p>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/script_for_quantity.html' %}
{% endblock %}