{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col">
                <p class="text-center">
                    <i class="fa-solid fa-paintbrush"></i>
                </p>
                <br>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
                {% else %}
                    <img src="{{ MEDIA_URL }}no_image.png" alt="{{ product.name }}" class="img-fluid">
                {% endif %}
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <p class="text-start"><strong>{{ product.name }}</strong></p>
                <p class="text-start">From the {{ product.category.friendly_name }}</p>
                <br>
                <p class="text-start">{{ product.description }}</p>
                <p class="text-start">£{{ product.price }}</p>
                {% with product.has_sizes as s %}
                    {% if s %}
                        {% if product.category.name == "prints_birds" %}
                            <!-- Prints size -->
                            <p>Size:</p>
                            <select class="rounded-0" name="product_size" id="product_size">
                                <option value="small">Small (30.5 x 40.6 cm)</option>
                                <option value="medium">Medium (40.6 x 50.8 cm)</option>
                                <option value="large">Large (45.7 x 61 cm)</option>
                            </select>
                        {% elif product.category.name == "prints_mammals" %}
                            <p>Size:</p>
                                <select class="rounded-0" name="product_size" id="product_size">
                                    <option value="small">Small (30.5 x 40.6 cm)</option>
                                    <option value="medium">Medium (40.6 x 50.8 cm)</option>
                                    <option value="large">Large (45.7 x 61 cm)</option>
                                </select>
                        {% elif product.category.name == "prints_fantasy" %}
                            <p>Size:</p>
                                <select class="rounded-0" name="product_size" id="product_size">
                                    <option value="small">Small (30.5 x 40.6 cm)</option>
                                    <option value="medium">Medium (40.6 x 50.8 cm)</option>
                                    <option value="large">Large (45.7 x 61 cm)</option>
                                </select>
                        {% else %}
                            <!-- Clothing size -->
                            <p>Size:</p>
                            <select class="rounded-0" name="product_size" id="product_size">
                                <option value="s">S</option>
                                <option value="m">M</option>
                                <option value="l">L</option>
                                <option value="xl">XL</option>
                            </select>
                        {% endif %}
                    {% endif %}
                {% endwith %}
                <br>
                <br>
                <a href="" class="btn btn-light btn-outline-dark rounded-0 text-uppercase text-center">Add to basket</a>
            </div>
        </div>
    </div>
        <br>
        <p class="text-center">
            <i class="fa-solid fa-paintbrush"></i>
        </p>
    </div>
{% endblock %}