{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col">
                <p class="text-center">
                    <i class="fa-solid fa-paintbrush"></i>
                </p>
                <br>
                <h2 class="text-center"><strong>Originals</strong></h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <p class="text-center">
                    <a href="" class="text-decoration-none text-dark">British Birds Collection</a>
                </p>
                <p class="text-center">
                    <a href="" class="text-decoration-none text-dark">British Mammals Collection</a>
                </p>
            </div>
        </div>
        
        <div class="row">
            {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        <a href="{% url 'product_details' product.id %}" class="text-decoration-none text-dark">
                            {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img card-img-top">
                            {% else %}
                                <img src="{{ MEDIA_URL }}no_image.png" alt="{{ product.name }}" class="card-img card-img-top">
                            {% endif %}
                            <div class="card-body text-center">
                                <p class="text-center"><strong>{{ product.name }}</strong></p>
                                <p class="text-center">£{{ product.price }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
        <br>
        <p class="text-center">
            <i class="fa-solid fa-paintbrush"></i>
        </p>
    </div>
{% endblock %}