<div class="toast rounded-0 border-top-0" role="alert" aria-live="polite" aria-atomic="true" data-delay="10000">
    <div class="arrow-up arrow-warning"></div>
    <div class="w-100 toast-capper bg-warning"></div>
    <div class="toast-header bg-white text-dark">
        <strong class="mr-auto">Warning!</strong>
        <button type="button" class="btn-close" data-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body bg-white">
        {{ message }}
    </div>
</div>